{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Create Listing{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" name="title" id="title" required>
    <label for="description">Description</label>
    <input class="form-control" name="description" id="description" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="price" required>
    <!--<label for="owner_id">User ID</label>
    <input class="form-control" name="owner_id" id="owner_id" required> -->
    <label name="date_mod" id="date_mod" for="date_mod">Todays date</label>
    <input class="btn btn-primary" type="submit" value="Create Listing">
  <a href='/' class="btn btn-primary" id="btn-submit" >Home</a>
  </div>
</form>
{% endblock %}