{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.username }} !</h2>


<h2>Use these links to create and update your listing's!</h2>

<div id="products">
    <h4>
        <a href='/updateUser'>Update User Profile</a>
    </h4>
    <h4>
        <a href='/createlisting'>Create Listing</a>
    </h4>
    {% for listing in listings %}
    <div>
        <h4 id="product_{{listing.id}}">
            listing ID: {{ listing.id }} <br>
            title: {{ listing.title }} <br>
            description: {{ listing.description }} <br>
            price: {{ listing.price }} <br>
            Date last modified: {{ listing.last_modified_date }}<br>
            <a href="/update_listing/{{ listing.id }}">update</a>
        </h4>
    </div>
    {% endfor %}
</div>

<a href='/logout'>logout</a>
{% endblock %}