{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="username" name="username" id="username">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email">
    <label for="billingAddress">Billing Address</label>
    <input class="form-control" name="billingAdress" id="billingAddress">
    <label for="postalCode">Postal Code</label>
    <input class="form-control" type="postalCode" name="postalCode" id="postalCode">
    <input class="btn btn-primary" type="submit" value="Update">
  <a href='/' class="btn btn-primary" id="btn-submit">Home</a>
  </div>
</form>
{% endblock %}