{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update Listing{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="ltitle">Title</label>
    <input class="form-control" name="title" id="title">
    <label for="description">Description</label>
    <input class="form-control" name="description" id="description">
    <label for="price">Price</label>
    <input class="form-control" name="price" id="price">
    <input class="btn btn-primary" type="submit" value="Update Listing">
  <a href='/' class="btn btn-primary" id="btn-submit" >Home</a>
  </div>
</form>
{% endblock %}